@model IEnumerable<Moviet.Models.RatingVM>

@{
    ViewData["Title"] = "Your Ratings";
}

<h1>Your Ratings</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.PosterPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateRated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Movie.PostRemoved)
            {
                <tr class="table-danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        <div class="card" style="height: 211px; width: 150px">
                            <img src="@item.Movie.PosterPath" class="card-img-top" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRated)
                    </td>
                    <td>
                        Removed
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Movie.Title)
                    </td>
                    <td>
                        <div class="card" style="height: 211px; width: 150px">
                            <img src="@item.Movie.PosterPath" class="card-img-top" />
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateRated)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-dark" asp-controller="Ratings" asp-action="Edit" asp-route-id=@item.RatingId><i class="fa fa-pencil"></i> Edit</a>
                            <a class="btn btn-info" asp-controller="Movies" asp-action="DetailsByMovie" asp-route-id=@item.Movie.MovieId><i class="fa fa-info-circle"></i> Details</a>
                            <a class="btn btn-danger" asp-controller="Ratings" asp-action="Delete" asp-route-id=@item.RatingId><i class="fa fa-trash"></i> Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<script>

</script>