@model X.PagedList.IPagedList<Moviet.Models.PostVM>
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "All Posts";
}

@if (ViewData["CurrentFilter"] != null)
{
    <h1>Searched form @ViewData["CurrentFilter"]</h1>

}
else
{
    <h1>All Posts</h1>
}
<partial name="_SearchBoxPostsAdminPartial" />


<table class="table">
    <thead>
        <tr>
            <th>
                Post Id
            </th>
            <th>
                Date Created
            </th>
            <th>
                Owner
            </th>
            <th>
                Title
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movie.Title)
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-info" asp-controller="Movies" asp-action="Details" asp-route-id="@item.PostID"><i class="fa fa-info-circle"></i> Details</a>
                        <a class="btn btn-danger" asp-controller="List" asp-action="BanPost" asp-route-id="@item.PostID"><i class="fa fa-ban"></i> Ban</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("AllPosts",
    new { page, searchString = ViewData["CurrentFilter"] }),
    new PagedListRenderOptions
    {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
