@model IEnumerable<Moviet.Models.IdentityUserVM>

@{
    ViewData["Title"] = "All Users";
}

<h1>All Users</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="List" asp-action="BanUser" asp-route-id="@item.Id"><i class="fa fa-ban"></i> Ban</a>
            </td>
        </tr>
}
    </tbody>
</table>
