@model IEnumerable<Moviet.Models.PostVM>

@{
    ViewData["Title"] = "Your Posts";
}

<h1>Your Posts</h1>

<p>
    <a class="nav-link" asp-controller="Posts" asp-action="Create">New Post <i class="fa fa-plus"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.PosterPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.SortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie.Genres)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <div class="card" style="height: 211px; width: 150px">
                    <img src=@item.Movie.PosterPath class="card-img-top" />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.SortDescription)
            </td>
            <th>
                <ul>
                    @foreach (var mg in item.Movie.Genres)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => mg.Genre.Name)
                        </li>
                    }
                </ul>
            </th>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id = item.PostID  }) |
                
            </td>
        </tr>
}
    </tbody>
</table>
